# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/s3-react-component-jsx-props/node_modules
/s4-react-state-event/node_modules
/s5-react-renderinglist-conditional-context/node_modules
/s8-practice-new-task-by-previous-lecture/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
